:root {
	--gac-expanded-width: 72px;
	--gac-collapse-width: 72px;
	--gac-server-height: 48px;
	--gac-padding: 8px;
	--gac-border-radius: 8px;
	--gac-image-filter: ;
	--gac-image-hover-brightness: 10;

	--gac-transition-timing-func: ease-in-out;
	--gac-transition-duration: 0.2s;
	// Delay before sidebar collapses when not focused
	--gac-transition-delay: 0.65s;

	--gac-box-color: var(--background-secondary);
	--gac-text-color: var(--channels-default);
	--gac-text-hover-color: var(--interactive-active);
	--gac-hover-color: var(--background-modifier-selected);
	--gac-hover-color-overlay: var(--background-modifier-hover);
	--gac-accent-color: var(--bg-brand);
	--gac-accent-hover: var(--brand-430);
}
.custom-theme-background {
	&.theme-dark {
		--gac-box-color: rgba(0, 0, 0, 0.4);
		--gac-hover-color-overlay: rgba(0, 0, 0, 0.4);
		--gac-hover-color: rgba(0, 0, 0, 0.65);
	}
	&.theme-light {
		--gac-box-color: rgba(255, 255, 255, 0.4);
		--gac-hover-color-overlay: rgba(255, 255, 255, 1);
		--gac-hover-color: rgba(0, 0, 0, 0.1);
	}
}
.theme-light {
	--gac-accent-color: #7abbec;
	--gac-accent-hover: #5cb3ff;
	--gac-image-filter: invert(1);
	--gac-image-hover-brightness: 0.1;
}

// Default Variables
// --header-primary: #f2f3f5;
// --background-secondary: #2b2d31;

// Always show now playing column
main[aria-label="Friends"] div[class*="nowPlayingColumn_"] {
	display: block !important;
}

// Hide Shop & Nitro in Private Messages Sidebar
nav[aria-label="Private channels"] {
	& > div[class*="scrollerBase_"] {
		& > ul[aria-label="Direct Messages"] {
			// Shop
			& > li:has(a[href$="/shop"]) {
				display: none !important;
			}
			// Nitro
			& > li:has(a[href$="/store"]) {
				display: none !important;
			}
			// New Nitro
			& > div[aria-label="Try Nitro for 2 weeks on us!"] {
				display: none !important;
			}
		}
	}
}
// Hide Download Apps & Discover in Servers Sidebar
nav[aria-label="Servers sidebar"] > ul > div[class*="itemsContainer_"] {
	// Download Apps
	& > div[class*="scrollerBase_"] > div[class*="listItem_"]:has(div[aria-label="Download Apps"]) {
		display: none !important;
	}
	// Discover
	& > div[class*="footer_"] {
		display: none !important;
	}
}

// Server List
nav[aria-label="Servers sidebar"] {
	width: var(--gac-expanded-width) !important;
	max-width: var(--gac-expanded-width) !important;
	min-width: var(--gac-expanded-width) !important;
	flex-basis: 240px !important;
	flex-grow: 0 !important;
	flex-shrink: 0 !important;
	overflow-y: auto !important;

	transition-property: max-width, min-width, width;
	transition-timing-function: var(--gac-transition-timing-func);
	transition-duration: var(--gac-transition-duration);
	transition-delay: var(--gac-transition-delay);

	foreignObject {
		mask: none !important;
	}

	// DM Notifications
	--gac-badge-offset: -2px;
	--gac-badge-bg-percentage: 55%;
	&
		> ul
		> div[class*="itemsContainer_"]
		> div[class*="scrollerBase_"]
		> div:not([class*="tutorialContainer_"])
		> div[class*="listItem_"]
		> div[class*="listItemWrapper_"]
		> div[class*="wrapper_"] {
		background: var(--gac-box-color) !important;
		border-radius: var(--gac-border-radius) !important;

		& > div[class*="lowerBadge_"] {
			right: var(--gac-badge-offset);
			bottom: var(--gac-badge-offset);
			transition-property: right, bottom;
			transition-timing-function: var(--gac-transition-timing-func);
			transition-duration: var(--gac-transition-duration);
			transition-delay: var(--gac-transition-delay);
		}

		& > div[class*="upperBadge_"] {
			right: var(--gac-badge-offset);
			top: var(--gac-badge-offset);
			transition-property: right, top;
			transition-timing-function: var(--gac-transition-timing-func);
			transition-duration: var(--gac-transition-duration);
			transition-delay: var(--gac-transition-delay);
		}

		&:has(div[class*="upperBadge_"]),
		&:has(div[class*="lowerBadge_"]) {
			background: radial-gradient(
				circle at calc(100% - 4px) var(--gac-badge-gradient-y),
				var(--gac-badge-gradient-color),
				var(--gac-box-color) var(--gac-badge-bg-percentage)
			) !important;
			--gac-text-color: var(--white);

			transition-property: background, max-width, min-width, width !important;

			&:hover {
				background: var(--gac-accent-color) !important;
			}
		}

		&:has(div[class*="lowerBadge_"]) {
			--gac-badge-gradient-y: 100%;
			--gac-badge-gradient-color: var(--status-danger);
		}
		&:has(div[class*="upperBadge_"]) {
			--gac-badge-gradient-y: 0%;
			--gac-badge-gradient-color: var(--status-positive);
		}

		div[class*="childWrapper_"] {
			justify-content: flex-start !important;
			background: unset !important;
			scale: unset !important;

			// Group DM Multi-Icon
			div[class*="container_"] {
				svg {
					margin-top: calc(-1 * var(--gac-padding)) !important;
					height: 48px !important;
					width: 48px !important;
					max-width: 48px !important;
					min-width: 48px !important;

					foreignObject {
						width: 32px !important;
						min-width: 32px !important;
						max-width: 32px !important;
						line-height: 28px !important;
						transform: unset !important;

						img {
							vertical-align: unset !important;
							width: 16px !important;
							height: 16px !important;
							margin-left: unset !important;
						}
					}
				}
			}
		}
	}

	span[class*="expandedFolderBackground_"] {
		background: var(--gac-box-color) !important;
		height: 100% !important;
		left: var(--gac-padding) !important;
		border-radius: var(--gac-border-radius) !important;
		bottom: 0 !important;
		box-sizing: border-box !important;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 48px;
			background: var(--gac-hover-color-overlay);
			border-radius: var(--gac-border-radius) var(--gac-border-radius) 0 0;
		}

		&[class*="collapsed_"] {
			&::before {
				background: none;
			}

			&:hover {
				background: var(--gac-hover-color) !important;
			}
		}
	}

	div[aria-label="Servers"] {
		// Container for folders
		& > div[class*="wrapper_"] {
			&:hover {
				span[class*="expandedFolderBackground_"][class*="collapsed"] {
					background: var(--gac-hover-color) !important;
				}
			}
			// Folder items
			ul {
				height: fit-content !important;
			}
		}
	}

	// Folder Background
	div[class^="folder_"],
    // Collapsed Folder Background
    div[class^="folderIconWrapper_"],
    // CircleIconButton Background
    div[class*="circleIconButton_"],
    // Home Button Background
    div[class*="tutorialContainer_"] div[data-list-item-id="guildsnav___home"] div[class*="childWrapper_"] {
		background: none !important;
	}

	// Fake Background
	// ===============
	// CircleIconButton background
	div[class*="circleIconButton_"],
    // Home button (eg: Direct Messages)
    div[class*="tutorialContainer_"] div[data-list-item-id="guildsnav___home"] div[class*="childWrapper_"],
    // Collapsed folders
	div[class^="folderIconWrapper_"]:not(:has(div[class*="expandedFolderIconWrapper_"])),
    // Servers in folders
    div[aria-label="Servers"] > div[class*="wrapper_"] ul > div[class*="listItem_"] foreignObject > div,
    // Servers not in folder
    div[aria-label="Servers"] > div[class*="listItem_"] foreignObject > div {
		&:hover {
			--gac-box-color: var(--gac-hover-color);
			--gac-text-color: var(--gac-text-hover-color);
		}
		* {
			position: relative !important;
			z-index: 1 !important;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: calc(var(--gac-expanded-width) - 2 * var(--gac-padding));
			max-width: 100%;
			min-width: 100%;
			height: var(--gac-server-height);
			background: var(--gac-box-color);
			border-radius: var(--gac-border-radius);
			z-index: 0;

			transition-property: max-width, min-width, width;
			transition-timing-function: var(--gac-transition-timing-func);
			transition-duration: var(--gac-transition-duration);
			transition-delay: var(--gac-transition-delay);
		}
	}
	// Servers in folder override (for theme support)
	div[class*="wrapper_"] ul > div[class*="listItem_"] foreignObject > div {
		--gac-box-color: none;

		&:hover {
			--gac-box-color: var(--gac-hover-color);
		}

		&[class*="selected_"] {
			--gac-box-color: var(--gac-accent-color);

			&:hover {
				--gac-box-color: var(--gac-accent-hover) !important;
			}
		}
	}

	*[class*="selected_"] {
		--gac-box-color: var(--gac-accent-color);
		--gac-text-color: var(--gac-text-hover-color);
	}

	// Circle Icon Button
	div[class*="wrapperSimple_"] {
		border-radius: unset !important;
	}

	// Things directly within the container
	div[aria-label="Servers"],
	div[class*="scrollerBase_"] {
		& > div[class*="tutorialContainer_"], // Home Button & Create Server button
		& > div[class*="listItem_"],          // discover servers
		& > div[class*="wrapper_"]            // folders
		{
			margin-bottom: var(--gac-padding) !important;
		}
	}

	// adjust width of various things
	div[class*="circleIconButton_"], // Round buttons (Create Server, Add Server, etc.)
	div[class*="listItem_"], // Servers
	div[class*="wrapper_"], // General container for servers
	// FIXME: div[class*="wrapper_"] ul[class^="stack_"], // Container for server details inside folder
	div[class*="childWrapper_"], // Container for server details
	div[class*="folderIconWrapper_"], // Folder icon container
	div[class*="target_"], 
	div[class*="tutorialContainer_"], // Home Button
	span[class*="expandedFolderBackground_"], // Folder Background when expanded
	div[class*="guildSeparator_"]  // Separator
	{
		width: calc(var(--gac-expanded-width) - 2 * var(--gac-padding)) !important;
		max-width: calc(var(--gac-expanded-width) - 2 * var(--gac-padding)) !important;
		min-width: calc(var(--gac-expanded-width) - 2 * var(--gac-padding)) !important;

		transition-property: max-width, min-width, width;
		transition-timing-function: var(--gac-transition-timing-func);
		transition-duration: var(--gac-transition-duration);
		transition-delay: var(--gac-transition-delay);

		foreignObject,
		div[class*="wrapperSimple_"],
		div[class*="wrapper_"],
		div[class*="listItemWrapper_"],
		svg {
			width: calc(var(--gac-expanded-width) - 2 * var(--gac-padding)) !important;
			max-width: calc(var(--gac-expanded-width) - 2 * var(--gac-padding)) !important;
			min-width: calc(var(--gac-expanded-width) - 2 * var(--gac-padding)) !important;

			transition-property: max-width, min-width, width;
			transition-timing-function: var(--gac-transition-timing-func);
			transition-duration: var(--gac-transition-duration);
			transition-delay: var(--gac-transition-delay);
		}
		// FIXME: WHAT IN THE ACTUAL FUCK IS GOING ON HERE????
		foreignObject {
			transform: translateX(-4px);

			transition-property: max-width, min-width, width, transform;
			transition-timing-function: var(--gac-transition-timing-func);
			transition-duration: var(--gac-transition-duration);
			transition-delay: var(--gac-transition-delay);
		}
	}

	// Server inside folder
	svg > foreignObject > div[class*="wrapper_"],
    // Home Button
	div[aria-label="Direct Messages"] div[class*="childWrapper_"],
    // Circle Icon Button
    div[class*="circleIconButton_"] {
		display: inline-block;
		padding-left: var(--gac-padding) !important;
		line-height: 48px !important;
		vertical-align: middle;
	}

	// Pill
	div[class*="pill_"] {
		left: -8px !important;
	}

	// Container for Server Details
	ul[class^="stack_"] {
		width: var(--gac-expanded-width) !important;
		min-width: var(--gac-expanded-width) !important;
		max-width: var(--gac-expanded-width) !important;
	}

	// Server
	div[class*="listItem_"] {
		display: block !important;
		position: relative !important;
		margin-left: var(--gac-padding) !important;
		margin-bottom: 0 !important;

		// Name Text
		& > div[draggable="true"],
		div[class*="circleIconButton_"],
		div[data-list-item-id="guildsnav___home"],
		div[class*="wrapper_"] {
			&:hover {
				--gac-text-color: var(--gac-text-hover-color);
			}
			&::after {
				white-space: nowrap;
				width: calc(var(--gac-expanded-width) - var(--gac-collapse-width) - var(--gac-padding));
				max-width: calc(var(--gac-expanded-width) - var(--gac-collapse-width) - var(--gac-padding));
				min-width: calc(var(--gac-expanded-width) - var(--gac-collapse-width) - var(--gac-padding));
				overflow: hidden;
				text-overflow: ellipsis;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: calc(7 * var(--gac-padding));
				color: var(--gac-text-color);
				font-size: 16px;
				line-height: 20px;
				font-weight: 500;
				pointer-events: none;
				font-family: inherit;

				max-width: 0;
				opacity: 0;

				transition-property: max-width, min-width, opacity;
				transition-timing-function: var(--gac-transition-timing-func);
				transition-duration: var(--gac-transition-duration);
				transition-delay: var(--gac-transition-delay);
			}
		}

		// Server Icon
		img {
			display: inline-block !important;
			vertical-align: middle !important;
			line-height: 48px !important;
			margin-left: 4px !important;
			width: 32px !important;
			height: 32px !important;
			border-radius: 50% !important;
		}
		// Home Icon
		div[aria-label="Direct Messages"] ,
        // Circle Icon Button
        div[class*="circleIconButton_"] {
			svg[role="img"] {
				display: inline-block !important;
				vertical-align: middle !important;
				line-height: 48px !important;
				width: 26px !important;
				min-width: 26px !important;
				max-width: 26px !important;
				height: 26px !important;
				min-height: 26px !important;
				filter: var(--gac-image-filter) !important;
			}
		}
		div[class*="circleIconButton_"] {
			svg[role="img"] {
				margin-left: 6px !important;
			}
		}

		// Circle Icon Button
		div[class*="circleIconButton_"]::after {
			content: attr(aria-label);
		}
		// Home Button
		div[data-list-item-id="guildsnav___home"]::after {
			content: attr(aria-label);
		}
		// DM Notifications
		div[class*="wrapper_"]::after {
			content: attr(aria-label);
		}
		// Folder
		& > div[draggable="true"]::after {
			content: attr(data-dnd-name);
		}

		// Folder Icons
		& > div[draggable="true"] {
			&:hover {
				&::before {
					filter: var(--gac-image-filter) brightness(var(--gac-image-hover-brightness));
				}
			}
			&::before {
				filter: var(--gac-image-filter);
				content: "";
				width: 36px;
				height: 36px;
				background-size: 36px;
				background-position: center;
				position: absolute;
				left: calc(3 * var(--gac-padding) + var(--gac-padding) / 2);
				top: 50%;
				transform: translate(-50%, -50%);
				z-index: 99;
				pointer-events: none;
			}

			// Custom Icons
			&[data-dnd-name*="irl" i]::before,
			&[data-dnd-name*="in real life" i]::before,
			&[data-dnd-name*="real life" i]::before,
			&[data-dnd-name*="life" i]::before,
			&[data-dnd-name*="friends" i]::before,
			&[data-dnd-name*="friend" i]::before,
			&[data-dnd-name*="friendship" i]::before,
			&[data-dnd-name*="social" i]::before,
			&[data-dnd-name*="socializing" i]::before {
				background-image: url("https://pinpal.github.io/imageDump/IRL.png");
			}
			&[data-dnd-name*="cs" i]:before,
			&[data-dnd-name*="counter-strike" i]:before,
			&[data-dnd-name*="global offensive" i]:before,
			&[data-dnd-name*="cs:go" i]:before,
			&[data-dnd-name*="csgo" i]:before,
			&[data-dnd-name*="cs go" i]:before,
			&[data-dnd-name*="cs2" i]:before,
			&[data-dnd-name*="counter strike" i]:before {
				background-image: url("https://pinpal.github.io/imageDump/CS.png");
			}
			&[data-dnd-name*="tarkov" i]:before,
			&[data-dnd-name*="escape from tarkov" i]:before,
			&[data-dnd-name*="eft" i]:before {
				background-image: url("https://pinpal.github.io/imageDump/EFT.png");
			}
			&[data-dnd-name*="valorant" i]:before,
			&[data-dnd-name*="val" i]:before {
				background-image: url("https://pinpal.github.io/imageDump/Val.png");
			}
			&[data-dnd-name*="mc" i]:before,
			&[data-dnd-name*="craft" i]:before,
			&[data-dnd-name*="minecraft" i]:before {
				background-image: url("https://pinpal.github.io/imageDump/MC_Alt.png");
			}
			&[data-dnd-name*="modded" i]:before,
			&[data-dnd-name*="modding" i]:before,
			&[data-dnd-name*="mods" i]:before,
			&[data-dnd-name*="mod" i]:before,
			&[data-dnd-name*="modpack" i]:before,
			&[data-dnd-name*="modpacks" i]:before {
				background-image: url("https://pinpal.github.io/imageDump/Mods.png");
			}
			&[data-dnd-name*="ios" i]:before,
			&[data-dnd-name*="jailbreak" i]:before,
			&[data-dnd-name*="iphone" i]:before,
			&[data-dnd-name*="ipad" i]:before,
			&[data-dnd-name*="apple" i]:before,
			&[data-dnd-name*="android" i]:before,
			&[data-dnd-name*="smartphones" i]:before,
			&[data-dnd-name*="mobile" i]:before,
			&[data-dnd-name*="tablets" i]:before,
			&[data-dnd-name*="phones" i]:before,
			&[data-dnd-name*="phone" i]:before {
				background-image: url("https://pinpal.github.io/imageDump/Jailbreak.png");
			}
			&[data-dnd-name*="keyboards" i]:before,
			&[data-dnd-name*="mechanical" i]:before,
			&[data-dnd-name*="keycaps" i]:before,
			&[data-dnd-name*="switches" i]:before {
				background-image: url("https://pinpal.github.io/imageDump/Keyboards.png");
			}
			&[data-dnd-name*="computing" i]:before,
			&[data-dnd-name*="pc" i]:before,
			&[data-dnd-name*="hardware" i]:before {
				background-image: url("https://pinpal.github.io/imageDump/PC.png");
			}
			&[data-dnd-name*="programming" i]:before,
			&[data-dnd-name*="coding" i]:before,
			&[data-dnd-name*="code" i]:before,
			&[data-dnd-name*="software" i]:before,
			&[data-dnd-name*="development" i]:before {
				background-image: url("https://pinpal.github.io/imageDump/Programming.png");
			}
			&[data-dnd-name*="cod" i]:before,
			&[data-dnd-name*="call of duty" i]:before,
			&[data-dnd-name*="warzone" i]:before,
			&[data-dnd-name*="mw" i]:before,
			&[data-dnd-name*="modern warfare" i]:before {
				background-image: url("https://pinpal.github.io/imageDump/COD.png");
			}
			&[data-dnd-name*="gaming" i]:before,
			&[data-dnd-name*="games" i]:before,
			&[data-dnd-name*="game" i]:before {
				background-image: url("https://pinpal.github.io/imageDump/Games.png");
			}
		}
		div[class*="closedFolderIconWrapper_"],
		div[class*="expandedFolderIconWrapper_"] {
			visibility: hidden;
		}
	}
}

// Hover Effects
html.app-focused nav[aria-label="Servers sidebar"]:hover {
	--gac-expanded-width: 220px;
	--gac-transition-delay: 0s;
	div[class*="listItem_"] {
		// Name Text
		& > div[draggable="true"]::after, // Folder
		div[class*="circleIconButton_"]::after, // Circle Icon Button
		div[data-list-item-id="guildsnav___home"]::after, // Home Button
		div[class*="wrapper_"]::after // DM Notifications & Servers
		{
			max-width: calc(var(--gac-expanded-width) - var(--gac-collapse-width) - 1.5 * var(--gac-padding));
			opacity: 1;
		}
	}

	// DM Notifications
	--gac-badge-offset: 4px;
	--gac-badge-bg-percentage: 25%;

	// adjust width of various things
	div[class*="circleIconButton_"],
	div[class*="listItem_"],
	div[class*="wrapper_"],
	div[class*="childWrapper_"],
	div[class*="folderIconWrapper_"],
	div[class*="tutorialContainer_"] {
		// FIXME: WHAT IN THE ACTUAL FUCK IS GOING ON HERE????
		foreignObject {
			transform: translateX(-78px);
		}
	}
}
