:root {
  --gac-expanded-width: 72px;
  --gac-collapse-width: 72px;
  --gac-server-height: 48px;
  --gac-padding: 8px;
  --gac-border-radius: 8px;
  --gac-image-filter: ;
  --gac-image-hover-brightness: 10;
  --gac-transition-timing-func: ease-in-out;
  --gac-transition-duration: 0.2s;
  --gac-transition-delay: 0.65s;
  --gac-box-color: var(--background-secondary);
  --gac-text-color: var(--channels-default);
  --gac-text-hover-color: var(--interactive-active);
  --gac-hover-color: var(--background-modifier-selected);
  --gac-hover-color-overlay: var(--background-modifier-selected);
  --gac-accent-color: var(--bg-brand);
  --gac-accent-hover: var(--brand-430);
}

.custom-theme-background.theme-dark {
  --gac-box-color: rgba(0, 0, 0, 0.4);
  --gac-hover-color-overlay: rgba(0, 0, 0, 0.4);
  --gac-hover-color: rgba(0, 0, 0, 0.65);
}
.custom-theme-background.theme-light {
  --gac-box-color: rgba(255, 255, 255, 0.4);
  --gac-hover-color-overlay: rgba(255, 255, 255, 1);
  --gac-hover-color: rgba(0, 0, 0, 0.1);
}

.theme-light {
  --gac-accent-color: #7abbec;
  --gac-accent-hover: #5cb3ff;
  --gac-image-filter: invert(1);
  --gac-image-hover-brightness: 0.1;
}

main[aria-label=Friends] div[class*=nowPlayingColumn_] {
  display: block !important;
}

nav[aria-label="Private channels"] > div[class*=scrollerBase_] > ul[aria-label="Direct Messages"] > li:has(a[href$="/shop"]) {
  display: none !important;
}
nav[aria-label="Private channels"] > div[class*=scrollerBase_] > ul[aria-label="Direct Messages"] > li:has(a[href$="/store"]) {
  display: none !important;
}
nav[aria-label="Private channels"] > div[class*=scrollerBase_] > ul[aria-label="Direct Messages"] > div[aria-label="Try Nitro for 2 weeks on us!"] {
  display: none !important;
}

nav[aria-label="Servers sidebar"] > ul > div[class*=itemsContainer_] > div[class*=scrollerBase_] > div[class*=listItem_]:has(div[aria-label="Download Apps"]) {
  display: none !important;
}
nav[aria-label="Servers sidebar"] > ul > div[class*=itemsContainer_] > div[class*=footer_] {
  display: none !important;
}

nav[aria-label="Servers sidebar"] {
  width: var(--gac-expanded-width) !important;
  max-width: var(--gac-expanded-width) !important;
  min-width: var(--gac-expanded-width) !important;
  flex-basis: 240px !important;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  overflow-y: auto !important;
  transition-property: max-width, min-width, width;
  transition-timing-function: var(--gac-transition-timing-func);
  transition-duration: var(--gac-transition-duration);
  transition-delay: var(--gac-transition-delay);
  --gac-badge-offset: -2px;
  --gac-badge-bg-percentage: 55%;
}
nav[aria-label="Servers sidebar"] foreignObject {
  mask: none !important;
}
nav[aria-label="Servers sidebar"] > ul > div[class*=itemsContainer_] > div[class*=scrollerBase_] > div:not([class*=tutorialContainer_]) > div[class*=listItem_] > div[class*=listItemWrapper_] > div[class*=wrapper_] {
  background: var(--gac-box-color) !important;
  border-radius: var(--gac-border-radius) !important;
}
nav[aria-label="Servers sidebar"] > ul > div[class*=itemsContainer_] > div[class*=scrollerBase_] > div:not([class*=tutorialContainer_]) > div[class*=listItem_] > div[class*=listItemWrapper_] > div[class*=wrapper_] > div[class*=lowerBadge_] {
  right: var(--gac-badge-offset);
  bottom: var(--gac-badge-offset);
  transition-property: right, bottom;
  transition-timing-function: var(--gac-transition-timing-func);
  transition-duration: var(--gac-transition-duration);
  transition-delay: var(--gac-transition-delay);
}
nav[aria-label="Servers sidebar"] > ul > div[class*=itemsContainer_] > div[class*=scrollerBase_] > div:not([class*=tutorialContainer_]) > div[class*=listItem_] > div[class*=listItemWrapper_] > div[class*=wrapper_] > div[class*=upperBadge_] {
  right: var(--gac-badge-offset);
  top: var(--gac-badge-offset);
  transition-property: right, top;
  transition-timing-function: var(--gac-transition-timing-func);
  transition-duration: var(--gac-transition-duration);
  transition-delay: var(--gac-transition-delay);
}
nav[aria-label="Servers sidebar"] > ul > div[class*=itemsContainer_] > div[class*=scrollerBase_] > div:not([class*=tutorialContainer_]) > div[class*=listItem_] > div[class*=listItemWrapper_] > div[class*=wrapper_]:has(div[class*=upperBadge_]), nav[aria-label="Servers sidebar"] > ul > div[class*=itemsContainer_] > div[class*=scrollerBase_] > div:not([class*=tutorialContainer_]) > div[class*=listItem_] > div[class*=listItemWrapper_] > div[class*=wrapper_]:has(div[class*=lowerBadge_]) {
  background: radial-gradient(circle at calc(100% - 4px) var(--gac-badge-gradient-y), var(--gac-badge-gradient-color), var(--gac-box-color) var(--gac-badge-bg-percentage)) !important;
  --gac-text-color: var(--white);
  transition-property: background, max-width, min-width, width !important;
}
nav[aria-label="Servers sidebar"] > ul > div[class*=itemsContainer_] > div[class*=scrollerBase_] > div:not([class*=tutorialContainer_]) > div[class*=listItem_] > div[class*=listItemWrapper_] > div[class*=wrapper_]:has(div[class*=upperBadge_]):hover, nav[aria-label="Servers sidebar"] > ul > div[class*=itemsContainer_] > div[class*=scrollerBase_] > div:not([class*=tutorialContainer_]) > div[class*=listItem_] > div[class*=listItemWrapper_] > div[class*=wrapper_]:has(div[class*=lowerBadge_]):hover {
  background: var(--gac-accent-color) !important;
}
nav[aria-label="Servers sidebar"] > ul > div[class*=itemsContainer_] > div[class*=scrollerBase_] > div:not([class*=tutorialContainer_]) > div[class*=listItem_] > div[class*=listItemWrapper_] > div[class*=wrapper_]:has(div[class*=lowerBadge_]) {
  --gac-badge-gradient-y: 100%;
  --gac-badge-gradient-color: var(--status-danger);
}
nav[aria-label="Servers sidebar"] > ul > div[class*=itemsContainer_] > div[class*=scrollerBase_] > div:not([class*=tutorialContainer_]) > div[class*=listItem_] > div[class*=listItemWrapper_] > div[class*=wrapper_]:has(div[class*=upperBadge_]) {
  --gac-badge-gradient-y: 0%;
  --gac-badge-gradient-color: var(--status-positive);
}
nav[aria-label="Servers sidebar"] > ul > div[class*=itemsContainer_] > div[class*=scrollerBase_] > div:not([class*=tutorialContainer_]) > div[class*=listItem_] > div[class*=listItemWrapper_] > div[class*=wrapper_] div[class*=childWrapper_] {
  justify-content: flex-start !important;
  background: unset !important;
  scale: unset !important;
}
nav[aria-label="Servers sidebar"] > ul > div[class*=itemsContainer_] > div[class*=scrollerBase_] > div:not([class*=tutorialContainer_]) > div[class*=listItem_] > div[class*=listItemWrapper_] > div[class*=wrapper_] div[class*=childWrapper_] div[class*=container_] svg {
  margin-top: calc(-1 * var(--gac-padding)) !important;
  height: 48px !important;
  width: 48px !important;
  max-width: 48px !important;
  min-width: 48px !important;
}
nav[aria-label="Servers sidebar"] > ul > div[class*=itemsContainer_] > div[class*=scrollerBase_] > div:not([class*=tutorialContainer_]) > div[class*=listItem_] > div[class*=listItemWrapper_] > div[class*=wrapper_] div[class*=childWrapper_] div[class*=container_] svg foreignObject {
  width: 32px !important;
  min-width: 32px !important;
  max-width: 32px !important;
  line-height: 28px !important;
  transform: unset !important;
}
nav[aria-label="Servers sidebar"] > ul > div[class*=itemsContainer_] > div[class*=scrollerBase_] > div:not([class*=tutorialContainer_]) > div[class*=listItem_] > div[class*=listItemWrapper_] > div[class*=wrapper_] div[class*=childWrapper_] div[class*=container_] svg foreignObject img {
  vertical-align: unset !important;
  width: 16px !important;
  height: 16px !important;
  margin-left: unset !important;
}
nav[aria-label="Servers sidebar"] span[class*=expandedFolderBackground_] {
  background: var(--gac-box-color) !important;
  height: 100% !important;
  left: var(--gac-padding) !important;
  border-radius: var(--gac-border-radius) !important;
  bottom: 0 !important;
  box-sizing: border-box !important;
}
nav[aria-label="Servers sidebar"] span[class*=expandedFolderBackground_]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background: var(--gac-hover-color-overlay);
  border-radius: var(--gac-border-radius) var(--gac-border-radius) 0 0;
}
nav[aria-label="Servers sidebar"] span[class*=expandedFolderBackground_][class*=collapsed_]::before {
  background: none;
}
nav[aria-label="Servers sidebar"] span[class*=expandedFolderBackground_][class*=collapsed_]:hover {
  background: var(--gac-hover-color) !important;
}
nav[aria-label="Servers sidebar"] div[aria-label=Servers] > div[class*=wrapper_]:hover span[class*=expandedFolderBackground_][class*=collapsed] {
  background: var(--gac-hover-color) !important;
}
nav[aria-label="Servers sidebar"] div[aria-label=Servers] > div[class*=wrapper_] ul {
  height: fit-content !important;
}
nav[aria-label="Servers sidebar"] div[class^=folder_],
nav[aria-label="Servers sidebar"] div[class^=folderIconWrapper_],
nav[aria-label="Servers sidebar"] div[class*=circleIconButton_],
nav[aria-label="Servers sidebar"] div[class*=tutorialContainer_] div[data-list-item-id=guildsnav___home] div[class*=childWrapper_] {
  background: none !important;
}
nav[aria-label="Servers sidebar"] div[class*=circleIconButton_]:hover,
nav[aria-label="Servers sidebar"] div[class*=tutorialContainer_] div[data-list-item-id=guildsnav___home] div[class*=childWrapper_]:hover,
nav[aria-label="Servers sidebar"] div[class^=folderIconWrapper_]:not(:has(div[class*=expandedFolderIconWrapper_])):hover,
nav[aria-label="Servers sidebar"] div[aria-label=Servers] > div[class*=wrapper_] ul > div[class*=listItem_] foreignObject > div:hover,
nav[aria-label="Servers sidebar"] div[aria-label=Servers] > div[class*=listItem_] foreignObject > div:hover {
  --gac-box-color: var(--gac-hover-color);
  --gac-text-color: var(--gac-text-hover-color);
}
nav[aria-label="Servers sidebar"] div[class*=circleIconButton_] *,
nav[aria-label="Servers sidebar"] div[class*=tutorialContainer_] div[data-list-item-id=guildsnav___home] div[class*=childWrapper_] *,
nav[aria-label="Servers sidebar"] div[class^=folderIconWrapper_]:not(:has(div[class*=expandedFolderIconWrapper_])) *,
nav[aria-label="Servers sidebar"] div[aria-label=Servers] > div[class*=wrapper_] ul > div[class*=listItem_] foreignObject > div *,
nav[aria-label="Servers sidebar"] div[aria-label=Servers] > div[class*=listItem_] foreignObject > div * {
  position: relative !important;
  z-index: 1 !important;
}
nav[aria-label="Servers sidebar"] div[class*=circleIconButton_]::before,
nav[aria-label="Servers sidebar"] div[class*=tutorialContainer_] div[data-list-item-id=guildsnav___home] div[class*=childWrapper_]::before,
nav[aria-label="Servers sidebar"] div[class^=folderIconWrapper_]:not(:has(div[class*=expandedFolderIconWrapper_]))::before,
nav[aria-label="Servers sidebar"] div[aria-label=Servers] > div[class*=wrapper_] ul > div[class*=listItem_] foreignObject > div::before,
nav[aria-label="Servers sidebar"] div[aria-label=Servers] > div[class*=listItem_] foreignObject > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--gac-expanded-width) - 2 * var(--gac-padding));
  max-width: 100%;
  min-width: 100%;
  height: var(--gac-server-height);
  background: var(--gac-box-color);
  border-radius: var(--gac-border-radius);
  z-index: 0;
  transition-property: max-width, min-width, width;
  transition-timing-function: var(--gac-transition-timing-func);
  transition-duration: var(--gac-transition-duration);
  transition-delay: var(--gac-transition-delay);
}
nav[aria-label="Servers sidebar"] div[class*=wrapper_] ul > div[class*=listItem_] foreignObject > div {
  --gac-box-color: none;
}
nav[aria-label="Servers sidebar"] div[class*=wrapper_] ul > div[class*=listItem_] foreignObject > div:hover {
  --gac-box-color: var(--gac-hover-color);
}
nav[aria-label="Servers sidebar"] div[class*=wrapper_] ul > div[class*=listItem_] foreignObject > div[class*=selected_] {
  --gac-box-color: var(--gac-accent-color);
}
nav[aria-label="Servers sidebar"] div[class*=wrapper_] ul > div[class*=listItem_] foreignObject > div[class*=selected_]:hover {
  --gac-box-color: var(--gac-accent-hover) !important;
}
nav[aria-label="Servers sidebar"] *[class*=selected_] {
  --gac-box-color: var(--gac-accent-color);
  --gac-text-color: var(--gac-text-hover-color);
}
nav[aria-label="Servers sidebar"] div[class*=wrapperSimple_] {
  border-radius: unset !important;
}
nav[aria-label="Servers sidebar"] div[aria-label=Servers] > div[class*=tutorialContainer_], nav[aria-label="Servers sidebar"] div[aria-label=Servers] > div[class*=listItem_], nav[aria-label="Servers sidebar"] div[aria-label=Servers] > div[class*=wrapper_],
nav[aria-label="Servers sidebar"] div[class*=scrollerBase_] > div[class*=tutorialContainer_],
nav[aria-label="Servers sidebar"] div[class*=scrollerBase_] > div[class*=listItem_],
nav[aria-label="Servers sidebar"] div[class*=scrollerBase_] > div[class*=wrapper_] {
  margin-bottom: var(--gac-padding) !important;
}
nav[aria-label="Servers sidebar"] div[class*=circleIconButton_],
nav[aria-label="Servers sidebar"] div[class*=listItem_],
nav[aria-label="Servers sidebar"] div[class*=wrapper_],
nav[aria-label="Servers sidebar"] div[class*=childWrapper_],
nav[aria-label="Servers sidebar"] div[class*=folderIconWrapper_],
nav[aria-label="Servers sidebar"] div[class*=target_],
nav[aria-label="Servers sidebar"] div[class*=tutorialContainer_],
nav[aria-label="Servers sidebar"] span[class*=expandedFolderBackground_],
nav[aria-label="Servers sidebar"] div[class*=guildSeparator_] {
  width: calc(var(--gac-expanded-width) - 2 * var(--gac-padding)) !important;
  max-width: calc(var(--gac-expanded-width) - 2 * var(--gac-padding)) !important;
  min-width: calc(var(--gac-expanded-width) - 2 * var(--gac-padding)) !important;
  transition-property: max-width, min-width, width;
  transition-timing-function: var(--gac-transition-timing-func);
  transition-duration: var(--gac-transition-duration);
  transition-delay: var(--gac-transition-delay);
}
nav[aria-label="Servers sidebar"] div[class*=circleIconButton_] foreignObject,
nav[aria-label="Servers sidebar"] div[class*=circleIconButton_] div[class*=wrapperSimple_],
nav[aria-label="Servers sidebar"] div[class*=circleIconButton_] div[class*=wrapper_],
nav[aria-label="Servers sidebar"] div[class*=circleIconButton_] div[class*=listItemWrapper_],
nav[aria-label="Servers sidebar"] div[class*=circleIconButton_] svg,
nav[aria-label="Servers sidebar"] div[class*=listItem_] foreignObject,
nav[aria-label="Servers sidebar"] div[class*=listItem_] div[class*=wrapperSimple_],
nav[aria-label="Servers sidebar"] div[class*=listItem_] div[class*=wrapper_],
nav[aria-label="Servers sidebar"] div[class*=listItem_] div[class*=listItemWrapper_],
nav[aria-label="Servers sidebar"] div[class*=listItem_] svg,
nav[aria-label="Servers sidebar"] div[class*=wrapper_] foreignObject,
nav[aria-label="Servers sidebar"] div[class*=wrapper_] div[class*=wrapperSimple_],
nav[aria-label="Servers sidebar"] div[class*=wrapper_] div[class*=wrapper_],
nav[aria-label="Servers sidebar"] div[class*=wrapper_] div[class*=listItemWrapper_],
nav[aria-label="Servers sidebar"] div[class*=wrapper_] svg,
nav[aria-label="Servers sidebar"] div[class*=childWrapper_] foreignObject,
nav[aria-label="Servers sidebar"] div[class*=childWrapper_] div[class*=wrapperSimple_],
nav[aria-label="Servers sidebar"] div[class*=childWrapper_] div[class*=wrapper_],
nav[aria-label="Servers sidebar"] div[class*=childWrapper_] div[class*=listItemWrapper_],
nav[aria-label="Servers sidebar"] div[class*=childWrapper_] svg,
nav[aria-label="Servers sidebar"] div[class*=folderIconWrapper_] foreignObject,
nav[aria-label="Servers sidebar"] div[class*=folderIconWrapper_] div[class*=wrapperSimple_],
nav[aria-label="Servers sidebar"] div[class*=folderIconWrapper_] div[class*=wrapper_],
nav[aria-label="Servers sidebar"] div[class*=folderIconWrapper_] div[class*=listItemWrapper_],
nav[aria-label="Servers sidebar"] div[class*=folderIconWrapper_] svg,
nav[aria-label="Servers sidebar"] div[class*=target_] foreignObject,
nav[aria-label="Servers sidebar"] div[class*=target_] div[class*=wrapperSimple_],
nav[aria-label="Servers sidebar"] div[class*=target_] div[class*=wrapper_],
nav[aria-label="Servers sidebar"] div[class*=target_] div[class*=listItemWrapper_],
nav[aria-label="Servers sidebar"] div[class*=target_] svg,
nav[aria-label="Servers sidebar"] div[class*=tutorialContainer_] foreignObject,
nav[aria-label="Servers sidebar"] div[class*=tutorialContainer_] div[class*=wrapperSimple_],
nav[aria-label="Servers sidebar"] div[class*=tutorialContainer_] div[class*=wrapper_],
nav[aria-label="Servers sidebar"] div[class*=tutorialContainer_] div[class*=listItemWrapper_],
nav[aria-label="Servers sidebar"] div[class*=tutorialContainer_] svg,
nav[aria-label="Servers sidebar"] span[class*=expandedFolderBackground_] foreignObject,
nav[aria-label="Servers sidebar"] span[class*=expandedFolderBackground_] div[class*=wrapperSimple_],
nav[aria-label="Servers sidebar"] span[class*=expandedFolderBackground_] div[class*=wrapper_],
nav[aria-label="Servers sidebar"] span[class*=expandedFolderBackground_] div[class*=listItemWrapper_],
nav[aria-label="Servers sidebar"] span[class*=expandedFolderBackground_] svg,
nav[aria-label="Servers sidebar"] div[class*=guildSeparator_] foreignObject,
nav[aria-label="Servers sidebar"] div[class*=guildSeparator_] div[class*=wrapperSimple_],
nav[aria-label="Servers sidebar"] div[class*=guildSeparator_] div[class*=wrapper_],
nav[aria-label="Servers sidebar"] div[class*=guildSeparator_] div[class*=listItemWrapper_],
nav[aria-label="Servers sidebar"] div[class*=guildSeparator_] svg {
  width: calc(var(--gac-expanded-width) - 2 * var(--gac-padding)) !important;
  max-width: calc(var(--gac-expanded-width) - 2 * var(--gac-padding)) !important;
  min-width: calc(var(--gac-expanded-width) - 2 * var(--gac-padding)) !important;
  transition-property: max-width, min-width, width;
  transition-timing-function: var(--gac-transition-timing-func);
  transition-duration: var(--gac-transition-duration);
  transition-delay: var(--gac-transition-delay);
}
nav[aria-label="Servers sidebar"] div[class*=circleIconButton_] foreignObject,
nav[aria-label="Servers sidebar"] div[class*=listItem_] foreignObject,
nav[aria-label="Servers sidebar"] div[class*=wrapper_] foreignObject,
nav[aria-label="Servers sidebar"] div[class*=childWrapper_] foreignObject,
nav[aria-label="Servers sidebar"] div[class*=folderIconWrapper_] foreignObject,
nav[aria-label="Servers sidebar"] div[class*=target_] foreignObject,
nav[aria-label="Servers sidebar"] div[class*=tutorialContainer_] foreignObject,
nav[aria-label="Servers sidebar"] span[class*=expandedFolderBackground_] foreignObject,
nav[aria-label="Servers sidebar"] div[class*=guildSeparator_] foreignObject {
  transform: translateX(-4px);
  transition-property: max-width, min-width, width, transform;
  transition-timing-function: var(--gac-transition-timing-func);
  transition-duration: var(--gac-transition-duration);
  transition-delay: var(--gac-transition-delay);
}
nav[aria-label="Servers sidebar"] svg > foreignObject > div[class*=wrapper_],
nav[aria-label="Servers sidebar"] div[aria-label="Direct Messages"] div[class*=childWrapper_],
nav[aria-label="Servers sidebar"] div[class*=circleIconButton_] {
  display: inline-block;
  padding-left: var(--gac-padding) !important;
  line-height: 48px !important;
  vertical-align: middle;
}
nav[aria-label="Servers sidebar"] div[class*=pill_] {
  left: -8px !important;
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] {
  display: block !important;
  position: relative !important;
  margin-left: var(--gac-padding) !important;
  margin-bottom: 0 !important;
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true]:hover,
nav[aria-label="Servers sidebar"] div[class*=listItem_] div[class*=circleIconButton_]:hover,
nav[aria-label="Servers sidebar"] div[class*=listItem_] div[data-list-item-id=guildsnav___home]:hover,
nav[aria-label="Servers sidebar"] div[class*=listItem_] div[class*=wrapper_]:hover {
  --gac-text-color: var(--gac-text-hover-color);
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true]::after,
nav[aria-label="Servers sidebar"] div[class*=listItem_] div[class*=circleIconButton_]::after,
nav[aria-label="Servers sidebar"] div[class*=listItem_] div[data-list-item-id=guildsnav___home]::after,
nav[aria-label="Servers sidebar"] div[class*=listItem_] div[class*=wrapper_]::after {
  white-space: nowrap;
  width: calc(var(--gac-expanded-width) - var(--gac-collapse-width) - var(--gac-padding));
  max-width: calc(var(--gac-expanded-width) - var(--gac-collapse-width) - var(--gac-padding));
  min-width: calc(var(--gac-expanded-width) - var(--gac-collapse-width) - var(--gac-padding));
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(7 * var(--gac-padding));
  color: var(--gac-text-color);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  pointer-events: none;
  font-family: inherit;
  max-width: 0;
  opacity: 0;
  transition-property: max-width, min-width, opacity;
  transition-timing-function: var(--gac-transition-timing-func);
  transition-duration: var(--gac-transition-duration);
  transition-delay: var(--gac-transition-delay);
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] img {
  display: inline-block !important;
  vertical-align: middle !important;
  line-height: 48px !important;
  margin-left: 4px !important;
  width: 32px !important;
  height: 32px !important;
  border-radius: 50% !important;
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] div[aria-label="Direct Messages"] svg[role=img],
nav[aria-label="Servers sidebar"] div[class*=listItem_] div[class*=circleIconButton_] svg[role=img] {
  display: inline-block !important;
  vertical-align: middle !important;
  line-height: 48px !important;
  width: 26px !important;
  min-width: 26px !important;
  max-width: 26px !important;
  height: 26px !important;
  min-height: 26px !important;
  filter: var(--gac-image-filter) !important;
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] div[class*=circleIconButton_] svg[role=img] {
  margin-left: 6px !important;
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] div[class*=circleIconButton_]::after {
  content: attr(aria-label);
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] div[data-list-item-id=guildsnav___home]::after {
  content: attr(aria-label);
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] div[class*=wrapper_]::after {
  content: attr(aria-label);
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true]::after {
  content: attr(data-dnd-name);
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true]:hover::before {
  filter: var(--gac-image-filter) brightness(var(--gac-image-hover-brightness));
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true]::before {
  filter: var(--gac-image-filter);
  content: "";
  width: 36px;
  height: 36px;
  background-size: 36px;
  background-position: center;
  position: absolute;
  left: calc(3 * var(--gac-padding) + var(--gac-padding) / 2);
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  pointer-events: none;
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=irl i]::before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*="in real life" i]::before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*="real life" i]::before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=life i]::before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=friends i]::before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=friend i]::before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=friendship i]::before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=social i]::before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=socializing i]::before {
  background-image: url("https://pinpal.github.io/imageDump/IRL.png");
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=cs i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=counter-strike i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*="global offensive" i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*="cs:go" i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=csgo i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*="cs go" i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=cs2 i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*="counter strike" i]:before {
  background-image: url("https://pinpal.github.io/imageDump/CS.png");
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=tarkov i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*="escape from tarkov" i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=eft i]:before {
  background-image: url("https://pinpal.github.io/imageDump/EFT.png");
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=valorant i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=val i]:before {
  background-image: url("https://pinpal.github.io/imageDump/Val.png");
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=mc i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=craft i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=minecraft i]:before {
  background-image: url("https://pinpal.github.io/imageDump/MC_Alt.png");
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=modded i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=modding i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=mods i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=mod i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=modpack i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=modpacks i]:before {
  background-image: url("https://pinpal.github.io/imageDump/Mods.png");
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=ios i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=jailbreak i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=iphone i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=ipad i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=apple i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=android i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=smartphones i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=mobile i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=tablets i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=phones i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=phone i]:before {
  background-image: url("https://pinpal.github.io/imageDump/Jailbreak.png");
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=keyboards i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=mechanical i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=keycaps i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=switches i]:before {
  background-image: url("https://pinpal.github.io/imageDump/Keyboards.png");
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=computing i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=pc i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=hardware i]:before {
  background-image: url("https://pinpal.github.io/imageDump/PC.png");
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=programming i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=coding i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=code i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=software i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=development i]:before {
  background-image: url("https://pinpal.github.io/imageDump/Programming.png");
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=cod i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*="call of duty" i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=warzone i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=mw i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*="modern warfare" i]:before {
  background-image: url("https://pinpal.github.io/imageDump/COD.png");
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=gaming i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=games i]:before, nav[aria-label="Servers sidebar"] div[class*=listItem_] > div[draggable=true][data-dnd-name*=game i]:before {
  background-image: url("https://pinpal.github.io/imageDump/Games.png");
}
nav[aria-label="Servers sidebar"] div[class*=listItem_] div[class*=closedFolderIconWrapper_],
nav[aria-label="Servers sidebar"] div[class*=listItem_] div[class*=expandedFolderIconWrapper_] {
  visibility: hidden;
}

html.app-focused nav[aria-label="Servers sidebar"]:hover {
  --gac-expanded-width: 220px;
  --gac-transition-delay: 0s;
  --gac-badge-offset: 4px;
  --gac-badge-bg-percentage: 25%;
}
html.app-focused nav[aria-label="Servers sidebar"]:hover div[class*=listItem_] > div[draggable=true]::after,
html.app-focused nav[aria-label="Servers sidebar"]:hover div[class*=listItem_] div[class*=circleIconButton_]::after,
html.app-focused nav[aria-label="Servers sidebar"]:hover div[class*=listItem_] div[data-list-item-id=guildsnav___home]::after,
html.app-focused nav[aria-label="Servers sidebar"]:hover div[class*=listItem_] div[class*=wrapper_]::after {
  max-width: calc(var(--gac-expanded-width) - var(--gac-collapse-width) - 1.5 * var(--gac-padding));
  opacity: 1;
}
html.app-focused nav[aria-label="Servers sidebar"]:hover div[class*=circleIconButton_] foreignObject,
html.app-focused nav[aria-label="Servers sidebar"]:hover div[class*=listItem_] foreignObject,
html.app-focused nav[aria-label="Servers sidebar"]:hover div[class*=wrapper_] foreignObject,
html.app-focused nav[aria-label="Servers sidebar"]:hover div[class*=childWrapper_] foreignObject,
html.app-focused nav[aria-label="Servers sidebar"]:hover div[class*=folderIconWrapper_] foreignObject,
html.app-focused nav[aria-label="Servers sidebar"]:hover div[class*=tutorialContainer_] foreignObject {
  transform: translateX(-78px);
}

/*# sourceMappingURL=main.css.map */
